/* General setup for the web page */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: #dde;
}

body {
    width: 80px;
    min-width: 1024;
    margin: 0 auto;
}